/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
    background-color: #2b303b;
}

body {
	color: #c0c5ce;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #181818;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

#body_home {
	max-height: 96.5%;
}

body .line {
 	border-top:1px solid #181818;
 	display: block;
}

body .line.coalesced {
	border-top: 0;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Hide some internal stuff. */
#timestampWidth {
	display: none;
}

/* Loading Screen */

#loading_screen {
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #f3f3f3;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
    color: #000;
}

/* Time */

body[dir=ltr] .time {
	white-space: nowrap;
	float: right;
	color: #999;
	-webkit-user-select: none;
	text-shadow: #000 0px 1px;
	font-weight: bold;
	margin-right: 10px;
	line-height: 30px;
	font-style: normal;
	text-align: right;
}


/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #ccc;
}

a:hover {
	color: #31B8FF;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	opacity: 0; /* Set by JavaScript */
	z-index: 400;
	position: fixed;

	color: #fff;
	background-color: #111 !important;


	font-weight: bold;
	text-align: center;
	line-height: 28px;
	font-size: 85%;

	padding: 0 6px 0 6px;
	border-bottom: solid 1px #a3a3a3;

	-webkit-transition: opacity 0.8s linear;
	-webkit-box-shadow: #888 0 2px 2px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a,
#topic_bar .channel {
}

/* Images */

body a img {
	padding-left: 5px;
	padding-bottom: 5px;
}

body img {
	display: block;
	max-width: 95%;
}


/* Remember Line */

div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px solid;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* Historic Line */

.historic
{
	opacity: 0.6;
}

span.sender{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* NOTICE/CTCP/WALLOPS */

body div.event * {
	background-color: #20242C;
}

body div.line{
	word-break: break-all;
}

body div.line[ltype*=ctcp],
body div.line[ltype*=notice],
body div.line[ltype*=wallops] {
	color: #f00;
  	z-index: 191;
	background: #fcc;
  	position: relative;
	border-top: 1px solid #f77;
	border-bottom: 1px solid #f77;
}

body div.line[ltype*=notice] span.message {
    line-height: normal;
    padding: 5px 0 5px 10px;   
}

body div[ltype*=notice] .sender {
	color: #f00;
	font-weight: 700;
}

/* PRIVMSG */

body div.line[ltype*=privmsg][highlight=false] {
	padding: 0;
}

body div.line[ltype*=privmsg][highlight=true],
body div.line[ltype*=action][highlight=true] {
	font-weight: normal;
	background-color: #ffc !important;
    color: #F39C12 !important;
}

body div.line[ltype*=action][highlight=true] span.sender {
	font-weight: normal;
	background-color: #262626 !important;
	font-weight:700;
    clear: both;
}

body div.line[highlight=true] span.innerMessage {
	font-weight: normal;
	font-weight:700;
    color: #F39C12 !important;
}

body div[ltype*="privmsg"] .message {
	color: #C0C5CE;
	height:30px;
}

body div[ltype*=privmsg] p[ltype*=myself] .message,
body div[ltype*=privmsg][mtype*=myself] .message {
	color: #C0C5CE;
}

body div[ltype*=privmsg] .sender {
	font-weight: 700;
	width:134px;
	min-height:30px;
	text-shadow: #000 0px 1px;
	background-color: #181818;
	border-right: 1px solid rgb(64, 64, 64);
	padding-right:5px;
	text-align:right;
	display:inline-block;
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	text-overflow: ellipsis;
}

/* ACTION */

body div.line[ltype*=action] {
 	font-weight: bold;
 	font-style: italic;
	background-color: #181818

}

body div[ltype*="action"] .message {
	color: #eee;
	font-weight: bold;
}

body div[ltype*=action] .sender {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	font-weight: 700;
	width:134px;
	min-height:30px;
	text-shadow: #000 0px 1px;
	background-color: #181818;
	padding-right:5px;
	text-align:right;
	display:inline-block;
	overflow: auto;
	height: 100%;
}

body div[ltype*=action] p[ltype*=myself] .sender,
body div[ltype*=action][mtype*=myself] .sender {
	color: #999;
}

body div[ltype*=action] p[ltype*=myself] .message,
body div[ltype*=action][mtype*=myself] .sender {
	color: #999;
}

body[dir=ltr] div[ltype*=action] .sender:before {
	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}


/* DEBUG/INVITE */

body div.line[ltype*=invite],
body div.line[ltype*=debug],
body div.line[ltype*=rawhtml] {
	color: #999;
  	z-index: 190;
	background: #2C3E50;
  	position: relative;
    padding-left: 10px;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

body span.message{
	position: relative;
	padding-left: 150px;
	display:table-cell;
	vertical-align: middle;
	min-height:30px;
	line-height: 30px;
	width: calc(100% - 250px);
	word-break: normal;
}

body span.message img.emoticon {
	padding-top: 4px;
	display: inline;
}

body div.event + div.event {
	border-top: #000 1px solid;
}

body div.event span.time {
	color: #a6b9c0;
	line-height: 25px;
}

body div.event span.message {
	min-height: 25px;
	line-height: 25px;
	text-shadow: #000 0px 1px;
	padding-left: 0;
}

body div.line[ltype*=join],
body div.line[ltype*=part],
body div.line[ltype*=kick],
body div.line[ltype*=quit],
body div.line[ltype*=kill],
body div.line[ltype*=nick],
body div.line[ltype*=mode],
body div.line[ltype*=topic],
body div.line[ltype*=website] {
	padding-left: 20px;
	background-color: #20242C;
	font-weight: bold;
	min-height: 19px;
}

body div.event span.message[ltype*=topic]{
	color: #fff;
}

body div.event span.message[ltype*=join]{
	color: #E67E22;
}

body div.event span.message[ltype*=part]{
	color: #E67E22;
}

body div.event span.message[ltype*=kick]{
	color: #E74C3C;
}

body div.event span.message[ltype*=quit]{
	color: #a6b9c0;
}

body div.event span.message[ltype*=kill]{
	color: #E74C3C;
}

body div.event span.message[ltype*=nick]{
	color: #a6b9c0;
}

body div.event span.message[ltype*=mode]{
	color: #a6b9c0;
}


/* Nickname Colors */

body .inline_nickname {
	color: #fff;
	display: inline-block;
	line-height: 1;
	padding: 4px 2px;
	background: #2C3E50;
	border: 1px solid #34495E;
	border-radius: 3px;
	margin: 4px 0;
}

body div[ltype*=privmsg] .sender[ltype*=myself], 
body div[ltype*=privmsg] .sender[mtype*=myself] { 
	color: #1ABC9C; 
}

body .sender[ltype*=normal][colornumber='0'], 
body .sender[mtype*=normal][colornumber='0'], 
body .inline_nickname[colornumber='0'] {
	color: #2ECC71; 
}

body .sender[ltype*=normal][colornumber='1'], 
body .sender[mtype*=normal][colornumber='1'], 
body .inline_nickname[colornumber='1'] {
	color: #3498DB; 
}

body .sender[ltype*=normal][colornumber='2'], 
body .sender[mtype*=normal][colornumber='2'], 
body .inline_nickname[colornumber='2'] {
	color: #9B59B6; 
}

body .sender[ltype*=normal][colornumber='3'], 
body .sender[mtype*=normal][colornumber='3'], 
body .inline_nickname[colornumber='3'] {
	color: #ECF0F1; 
}

body .sender[ltype*=normal][colornumber='4'], 
body .sender[mtype*=normal][colornumber='4'], 
body .inline_nickname[colornumber='4'] {
	color: #F1C40F; 
}

body .sender[ltype*=normal][colornumber='5'], 
body .sender[mtype*=normal][colornumber='5'], 
body .inline_nickname[colornumber='5'] {
	color: #E67E22; 
}

body .sender[ltype*=normal][colornumber='6'], 
body .sender[mtype*=normal][colornumber='6'], 
body .inline_nickname[colornumber='6'] {
	color: #E74C3C; 
}

body .sender[ltype*=normal][colornumber='7'], 
body .sender[mtype*=normal][colornumber='7'], 
body .inline_nickname[colornumber='7'] {
	color: #ECF0F1; 
}

body .sender[ltype*=normal][colornumber='8'], 
body .sender[mtype*=normal][colornumber='8'], 
body .inline_nickname[colornumber='8'] {
	color: #95A5A6; 
}

body .sender[ltype*=normal][colornumber='9'], 
body .sender[mtype*=normal][colornumber='9'], 
body .inline_nickname[colornumber='9'] {
	color: #2ECC71; 
}

body .sender[ltype*=normal][colornumber='10'], 
body .sender[mtype*=normal][colornumber='10'], 
body .inline_nickname[colornumber='10'] {
	color: #3498DB; 
}

body .sender[ltype*=normal][colornumber='11'], 
body .sender[mtype*=normal][colornumber='11'], 
body .inline_nickname[colornumber='11'] {
	color: #9B59B6; 
}

body .sender[ltype*=normal][colornumber='12'], 
body .sender[mtype*=normal][colornumber='12'], 
body .inline_nickname[colornumber='12'] {
	color: #ECF0F1; 
}

body .sender[ltype*=normal][colornumber='13'], 
body .sender[mtype*=normal][colornumber='13'], 
body .inline_nickname[colornumber='13'] {
	color: #F1C40F; 
}

body .sender[ltype*=normal][colornumber='14'], 
body .sender[mtype*=normal][colornumber='14'], 
body .inline_nickname[colornumber='14'] {
	color: #E67E22; 
}

body .sender[ltype*=normal][colornumber='15'], 
body .sender[mtype*=normal][colornumber='15'], 
body .inline_nickname[colornumber='15'] {
	color: #E74C3C; 
}

body .sender[ltype*=normal][colornumber='16'], 
body .sender[mtype*=normal][colornumber='16'], 
body .inline_nickname[colornumber='16'] { 
	color: #ECF0F1;
}

body .sender[ltype*=normal][colornumber='17'], 
body .sender[mtype*=normal][colornumber='17'], 
body .inline_nickname[colornumber='17'] { 
	color: #95A5A6;
}

body .sender[ltype*=normal][colornumber='18'], 
body .sender[mtype*=normal][colornumber='18'], 
body .inline_nickname[colornumber='18'] { 
	color: #2ECC71;
}

body .sender[ltype*=normal][colornumber='19'], 
body .sender[mtype*=normal][colornumber='19'], 
body .inline_nickname[colornumber='19'] { 
	color: #3498DB;
}

body .sender[ltype*=normal][colornumber='20'], 
body .sender[mtype*=normal][colornumber='20'], 
body .inline_nickname[colornumber='20'] { 
	color: #9B59B6;
}

body .sender[ltype*=normal][colornumber='21'], 
body .sender[mtype*=normal][colornumber='21'], 
body .inline_nickname[colornumber='21'] { 
	color: #ECF0F1;
}

body .sender[ltype*=normal][colornumber='22'], 
body .sender[mtype*=normal][colornumber='22'], 
body .inline_nickname[colornumber='22'] { 
	color: #F1C40F;
}

body .sender[ltype*=normal][colornumber='23'], 
body .sender[mtype*=normal][colornumber='23'], 
body .inline_nickname[colornumber='23'] { 
	color: #E67E22;
}

body .sender[ltype*=normal][colornumber='24'], 
body .sender[mtype*=normal][colornumber='24'], 
body .inline_nickname[colornumber='24'] { 
	color: #E74C3C;
}

body .sender[ltype*=normal][colornumber='25'], 
body .sender[mtype*=normal][colornumber='25'], 
body .inline_nickname[colornumber='25'] { 
	color: #ECF0F1;
}

body .sender[ltype*=normal][colornumber='26'], 
body .sender[mtype*=normal][colornumber='26'], 
body .inline_nickname[colornumber='26'] { 
	color: #95A5A6;
}

body .sender[ltype*=normal][colornumber='27'], 
body .sender[mtype*=normal][colornumber='27'], 
body .inline_nickname[colornumber='27'] { 
	color: #2ECC71;
}

body .sender[ltype*=normal][colornumber='28'], 
body .sender[mtype*=normal][colornumber='28'], 
body .inline_nickname[colornumber='28'] { 
	color: #3498DB;
}

body .sender[ltype*=normal][colornumber='29'], 
body .sender[mtype*=normal][colornumber='29'], 
body .inline_nickname[colornumber='29'] { 
	color: #9B59B6;
}

body .sender[ltype*=normal][colornumber='30'], 
body .sender[mtype*=normal][colornumber='30'], 
body .inline_nickname[colornumber='30'] { 
	color: #ECF0F1;
}

.inlineImageCell {
	overflow: hidden;
	display: -webkit-flex;
	margin-top: 15px;
	margin-bottom: 12px;
}

.inlineImageCell .image {
	display: inline-block;
	margin-right: 12px;
	margin-left: 10px;
	min-width: 40px;
	max-width: 90%;
	background-color:#bcbcbc;
	background:-webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#bcbcbc));
	padding:10px;
	border-radius: 5px;
	-webkit-order: 1;
}

.inlineImageCell .closeButton {
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	line-height: 13px;
	font-size: 20px;
	width: 20px;
	height: 20px;
	font-weight: 900;
	background-color:#bcbcbc;
	background:-webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#bcbcbc));
	padding-top:2px;
	text-align: center;
	-webkit-order: 2;

}

html[systemversion^="10.9"] .inlineImageCell .closeButton,
html[systemversion^="10.8"] .inlineImageCell .closeButton {
	line-height: 13px;
}


/* Selected User Messages */

.sender {
	cursor: pointer;
}

body div.line[ltype*=privmsg]:not(.selectedUser),
body div.line[ltype*=action]:not(.selectedUser) {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[ltype*=privmsg] .time:not(.selectedUser),
body div.line[ltype*=action] .time:not(.selectedUser) {
	transition: color 0.5s;
}

body div.line.selectedUser[highlight=false] .time {
	transition: color 0.5s ease-in;
	color: #fff;
}

body div.line.selectedUser[highlight=false] p, 
body div.line.selectedUser[highlight=false] span.innerMessage,
body div.line.selectedUser[highlight=false] span.message,
body div.line.selectedUser[highlight=false] span.time,
body div.line.selectedUser[highlight=false] a {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;

  	z-index: 190;
  	position: relative;
  	background-color: #3E8040 !important;
}

body div.line.selectedUser[highlight=false] .sender:before{
	content: "★ ";
	color: #3E8040;
}


body div.line.coalesced.selectedUser[highlight=false] .sender:before{
	content: "";
}
